@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	margin:0em;
	padding:0em;
	background: #2f2f2f;
}
.navbar{
	height:2em;
	display:flex;
	gap:5px
}
.nav-wrapper{
	background:#ff6060;
	margin:0em;
	height:50px;
	padding-bottom:8px;
	box-sizing:border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar a:first-child {
	border-radius: 8px 3px 3px 8px;
}
.navbar a:last-child{  border-radius: 3px 8px 8px 3px;
}
.navbar a:hover{
	background:white;
	color:#303030;
}
.navbar a{
	border-radius:3px;
	height:34px;
	background:#303030;
	display:flex;
	color:white;
	text-decoration:none;
	flex:#202020;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	font-weight:];
	padding: 2px 11px 2px 8px;
}
.navbar i{
	align-items: center;
	font-size:20px;
}